/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    ==============
    end hard reset
    ==============
*/

/*
    =================
    General Movements
    =================
*/

@-webkit-keyframes popOut {
    0% {
        /*transform:scale(0);*/
        opacity: 0;
    }
    80%{
        /*transform:scale(1.2);*/
        opacity: 0.8;
    }
    100% {
        /*transform:scale(1);*/
        opacity: 1;
    }
}

@keyframes popOut {
    0% {
        /*transform:scale(0);*/
        opacity: 0;
        /*cursor: default;*/
    }
    80%{
        /*transform:scale(1.2);*/
        opacity: 0.8;
        /*cursor: default;*/
    }
    100% {
        /*transform:scale(1);*/
        opacity: 1;
        /*cursor: pointer;*/
    }
}

@-webkit-keyframes popGone {
    0% {
        -webkit-transform:scale(0);
                transform:scale(0);
    }
    80%{
        -webkit-transform:scale(1.2);
                transform:scale(1.2);
    }
    100% {
        -webkit-transform:scale(1);
                transform:scale(1);
    }
}

@-webkit-keyframes popGone1 {
    0% {
        -webkit-transform:scale(0);
                transform:scale(0);
    }
    80%{
        -webkit-transform:scale(1.05);
                transform:scale(1.05);
    }
    100% {
        -webkit-transform:scale(1);
                transform:scale(1);
    }
}

@keyframes popGone {
    0% {
        -webkit-transform:scale(0);
                transform:scale(0);
    }
    80%{
        -webkit-transform:scale(1.2);
                transform:scale(1.2);
    }
    100% {
        -webkit-transform:scale(1);
                transform:scale(1);
    }
}

@-webkit-keyframes slideRight {
    0% {
        position: fixed;
        left: -100vw;
    }
    100% {
        position: fixed;
    }
}

@keyframes slideRight {
    0% {
        position: fixed;
        left: -100vw;
    }
    100% {
        position: absolute;
    }
}

.animator2 {
    -webkit-animation: popOut cubic-bezier(1,.015,.295,1.225);
            animation: popOut cubic-bezier(1,.015,.295,1.225);
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.animator3 {
    -webkit-animation: popOut cubic-bezier(1,.015,.295,1.225);
            animation: popOut cubic-bezier(1,.015,.295,1.225);
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.animator4 {
    -webkit-animation: popOut cubic-bezier(1,.015,.295,1.225);
            animation: popOut cubic-bezier(1,.015,.295,1.225);
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.animator5 {
    -webkit-animation: popOut cubic-bezier(1,.015,.295,1.225);
            animation: popOut cubic-bezier(1,.015,.295,1.225);
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.animator6 {
    -webkit-animation: popOut cubic-bezier(1,.015,.295,1.225);
            animation: popOut cubic-bezier(1,.015,.295,1.225);
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.animator7{
    -webkit-animation: popGone cubic-bezier(1,.015,.295,1.225);
            animation: popGone cubic-bezier(1,.015,.295,1.225);
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-direction: reverse;
            animation-direction: reverse;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.animatorWTF {
    -webkit-animation: popOut cubic-bezier(1,.015,.295,1.225);
            animation: popOut cubic-bezier(1,.015,.295,1.225);
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.animatorRight {
    -webkit-animation: slideRight cubic-bezier(1,.015,.295,1.225);
            animation: slideRight cubic-bezier(1,.015,.295,1.225);
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.animatorpopout{
    -webkit-animation: popGone1 cubic-bezier(1,.015,.295,1.225);
            animation: popGone1 cubic-bezier(1,.015,.295,1.225);
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    /*position: fixed;
    margin: auto;*/
}