/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    ==============
    end hard reset
    ==============
*/

/* 
    ======
    Basics
    ======
*/

* {
    margin: 0;
    padding: 0;
}

div {
    cursor: default;
}

.flex-row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
}

section{
    /*width: 90vw;*/
    min-height: 100vh;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url("images/Image-7.png");
    background-position: 0% 0%;
}

.background2 {
    width: 100%;
    height: 100%;
    background-image: url("images/Image-7.png");
    background-position: 0% -100vh;
}

.map {
    width: 600px;
    height: 400px;
    position: fixed;
    top: 50px;
    left: 50px;
    visibility: hidden;
    border-radius: 5px;
}

.fill {
    width: 100%;
    height: 100;
    top: 0;
    left: 0;
}

/*
    ======
    Button
    ======
*/

.btn {
    position: fixed;
    bottom: 7%;
    left:50%;
    margin: 0 0 0 -100px;
    cursor: pointer;
    /*transform: rotate(90deg);*/
    opacity: 0.9;
    width: 200px;
    height: 40px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #ffffff79;
}

.btn:hover{
    opacity: 1;
    cursor: pointer;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.speaker {
    position: absolute;
    top: 35%;
    left: 65%;
    width: 20%;
}

.navigator {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-pack: space-evenly;
        -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-align: center;
        -webkit-box-align: center;
            align-items: center;
    height: 100vh;
    position: fixed;
    left: 0;
    width: 10vw;
}

.circle {
    height: 80vh;
    width: 80vh;
    position: fixed;
    top: 0;
    margin-top: 10vh;
    right: 50%;
    margin-right: -40vh;
    border-radius: 50%;
    border: solid 5px #ffee8f;
    background-color: rgb(185, 185, 185, 0.6);
    overflow: visible;
}

.circle-square {
    height: 56vh;
    width: 56vh;
    border-radius: 1em;
    background-color: white;
    overflow-y: auto;
}

.circle-square1 {
    height: 56vh;
    width: 56vh;
    border-radius: 1em;
    background-color: white;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
        -ms-flex-flow: column wrap;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                flex-flow: column wrap;
    -ms-flex-pack: space-evenly;
        -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    justify-items: center;
    justify-self: center;
    text-justify: center;
    float: left;
    text-align: center;
    overflow-y: auto;
}

.circle-square1 img {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.circle-back {
    height: 10vh;
    width: 10vh;
    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    border: solid 5px #ffee8f;
    background-color: white;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: .15s;
    transition: .15s;
    border-radius: 50%;
    z-index: 100;
    font-family: Raleway;
    font-size: 16px;
    font-weight: bolder;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -ms-flex-pack: space-evenly;
        -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    justify-items: center;
    justify-self: center;
    text-justify: center;
    text-align: center;
}
.circle-back:hover, .circle-back:active{
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    cursor: pointer;
}

/*
    =========
    Scrollbar
    =========
*/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
            box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.8);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(128, 128, 128, 0.8); 
}

/* Sidebar */
.sidebar{
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;*/
    height: 90vh;
    width: 8vw;
    min-width: 80px;
    position: fixed;
    top: 50%;
    margin-top: -45vh;
    left: -4vw;
    border: 5px solid #ffee8f;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.596);
}

.sidebar-internal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 90vh;
    width: 8vw;
    position: relative;
    top: 0;
    min-width: 80px;
    padding-right: -10px
}

.sidebar-element{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    max-width: 10vh;
    font-family: Raleway;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
}

/* About Us */
.about-us{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90vh;
    width: 80vw;
    position: fixed;
    top: 5vh;
    left: -100vw;
    border: 5px solid #ffee8f;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.596);
    overflow-y: auto;
}

.about-us-x{
    background-image: url("images/icons8-delete-50.png");
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.about-us-btn {
    height: 16vh;
    width: 8vw;
    position: fixed;
    bottom: 5vh;
    right: -4vw;
    border: 5px solid #ffee8f;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.596);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.about-us-title {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 900;
}

.about-us-element {
    width: 90%;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.about-us-btn-text{
    width: 6vw;
    height: 1em;
    padding-top: 6vh;
    font-family: Raleway;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
    vertical-align: bottom;
}

.about-us-element-text{
    width: 60%;
    font-family: Raleway;
    line-height: 1.5em;
    font-size: 18px;
    font-weight: 900;
}

.about-us-btn-image-container{
    width: 30%;
}

.about-us-btn-image img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/* Testing Buttons */
.testing-buttons{
    position: fixed;
    left: 50%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}