.circle-container {
  position: fixed;
  width: 80vh;
  height: 80vh;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  right: 50%;
  top: 0;
  margin-top: 10vh;
  margin-right: -42vh;
  border: solid 5px tomato;
  font-family: Raleway;
  font-weight: 800; }
  .circle-container > * {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 5em;
    height: 5em;
    margin: -2.5em; }
    .circle-container > *:nth-of-type(1) {
      -webkit-transform: rotate(0deg) translate(40vh) rotate(0deg);
      transform: rotate(0deg) translate(40vh) rotate(0deg); }
    .circle-container > *:nth-of-type(2) {
      -webkit-transform: rotate(25.7142857143deg) translate(40vh) rotate(-25.7142857143deg);
      transform: rotate(25.7142857143deg) translate(40vh) rotate(-25.7142857143deg); }
    .circle-container > *:nth-of-type(3) {
      -webkit-transform: rotate(51.4285714286deg) translate(40vh) rotate(-51.4285714286deg);
      transform: rotate(51.4285714286deg) translate(40vh) rotate(-51.4285714286deg); }
    .circle-container > *:nth-of-type(4) {
      -webkit-transform: rotate(77.1428571429deg) translate(40vh) rotate(-77.1428571429deg);
      transform: rotate(77.1428571429deg) translate(40vh) rotate(-77.1428571429deg); }
    .circle-container > *:nth-of-type(5) {
      -webkit-transform: rotate(102.8571428571deg) translate(40vh) rotate(-102.8571428571deg);
      transform: rotate(102.8571428571deg) translate(40vh) rotate(-102.8571428571deg); }
    .circle-container > *:nth-of-type(6) {
      -webkit-transform: rotate(128.5714285714deg) translate(40vh) rotate(-128.5714285714deg);
      transform: rotate(128.5714285714deg) translate(40vh) rotate(-128.5714285714deg); }
    .circle-container > *:nth-of-type(7) {
      -webkit-transform: rotate(154.2857142857deg) translate(40vh) rotate(-154.2857142857deg);
      transform: rotate(154.2857142857deg) translate(40vh) rotate(-154.2857142857deg); }
    .circle-container > *:nth-of-type(8) {
      -webkit-transform: rotate(180deg) translate(40vh) rotate(-180deg);
      transform: rotate(180deg) translate(40vh) rotate(-180deg); }
    .circle-container > *:nth-of-type(9) {
      -webkit-transform: rotate(205.7142857143deg) translate(40vh) rotate(-205.7142857143deg);
      transform: rotate(205.7142857143deg) translate(40vh) rotate(-205.7142857143deg); }
    .circle-container > *:nth-of-type(10) {
      -webkit-transform: rotate(231.4285714286deg) translate(40vh) rotate(-231.4285714286deg);
      transform: rotate(231.4285714286deg) translate(40vh) rotate(-231.4285714286deg); }
    .circle-container > *:nth-of-type(11) {
      -webkit-transform: rotate(257.1428571429deg) translate(40vh) rotate(-257.1428571429deg);
      transform: rotate(257.1428571429deg) translate(40vh) rotate(-257.1428571429deg); }
    .circle-container > *:nth-of-type(12) {
      -webkit-transform: rotate(282.8571428571deg) translate(40vh) rotate(-282.8571428571deg);
      transform: rotate(282.8571428571deg) translate(40vh) rotate(-282.8571428571deg); }
    .circle-container > *:nth-of-type(13) {
      -webkit-transform: rotate(308.5714285714deg) translate(40vh) rotate(-308.5714285714deg);
      transform: rotate(308.5714285714deg) translate(40vh) rotate(-308.5714285714deg); }
    .circle-container > *:nth-of-type(14) {
      -webkit-transform: rotate(334.2857142857deg) translate(40vh) rotate(-334.2857142857deg);
      transform: rotate(334.2857142857deg) translate(40vh) rotate(-334.2857142857deg); }
  .circle-container li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border: solid 5px tomato;
    -webkit-transition: .15s;
    transition: .15s;
    background-color: WHITE;
    cursor: pointer;
    list-style-position: inside;
    word-wrap: break-word;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    line-height: 1; }
    .circle-container li:hover, .circle-container li:active {
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }

.circle-container4 {
  position: fixed;
  width: 40vh;
  height: 40vh;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  right: 50%;
  top: 0;
  margin-top: 10vh;
  margin-right: -40vh;
  border: solid 5px #ffee8f;
  font-family: Raleway;
  font-weight: 800; }
  .circle-container4 > * {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 6em;
    height: 6em;
    margin: -3em; }
    .circle-container4 > *:nth-of-type(1) {
      -webkit-transform: rotate(0deg) translate(20vh) rotate(0deg);
      transform: rotate(0deg) translate(20vh) rotate(0deg); }
    .circle-container4 > *:nth-of-type(2) {
      -webkit-transform: rotate(90deg) translate(20vh) rotate(-90deg);
      transform: rotate(90deg) translate(20vh) rotate(-90deg); }
    .circle-container4 > *:nth-of-type(3) {
      -webkit-transform: rotate(180deg) translate(20vh) rotate(-180deg);
      transform: rotate(180deg) translate(20vh) rotate(-180deg); }
    .circle-container4 > *:nth-of-type(4) {
      -webkit-transform: rotate(270deg) translate(20vh) rotate(-270deg);
      transform: rotate(270deg) translate(20vh) rotate(-270deg); }
  .circle-container4 li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border: solid 5px #ffee8f;
    -webkit-transition: .15s;
    transition: .15s;
    background-color: WHITE;
    cursor: pointer;
    list-style-position: inside;
    word-wrap: break-word;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    line-height: 1; }
    .circle-container4 li:hover, .circle-container4 li:active {
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }

/*# sourceMappingURL=circle_design.css.map */
